<!DOCTYPE html>
<html lang="cs">

<head>
    <title>Travel & Share</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

    <!-- My own styles-->
    <style>
        #confirm_prompt {
            display: none;
            top: 25%;
            left: 40%;
            position: fixed;
            padding: 20px;
            width: 20%;
            background-color: #17a2b8;
            border: 2px solid rgb(82, 82, 82);
            border-radius: 10px;
            z-index: 10;
        }

        .mapy_map {
            position: relative;
            height: 320px;
            border-radius: 0.3cm;
            z-index: 1;
        }

        .main_map {
            height: 380px;
            width: 80%;
            margin: auto;
            border-radius: 0.3cm;
        }

        .hidden {
            display: none;
        }

        .map_wrapper {
            background-color: #80c1f9;
            margin: 5px;
            border-radius: 15px;
            box-shadow: 0px 0px 5px 3px #80c1f9;
        }
    </style>
</head>

<body>

<!-- HEADER -->
<header class="container-fluid bg-info">
    <div class="row py-2">
        <div class="col-1">
            <!-- OFFSET -->
        </div>

        <!-- LOGO -->
        <div class="col-2 my-auto">
            <a class="h1 text-dark text-decoration-none" href="">Travel & Share</a>
        </div>

        <div class="col-8 my-auto">
            <!-- User not logged -->
            <div id="login_form" class="form-inline float-right">
                <input type="text" class="form-control mb-2 mr-sm-2 mb-sm-0" id="username_login"
                       placeholder="Uživatelské jméno">
                <input type="password" class="form-control mb-2 mr-sm-2 mb-sm-0" id="password_login"
                       name="login_password" placeholder="Heslo">
                <input id="btn_login" type="button" class="btn btn-primary" value="Přihlásit">
            </div>

            <!-- User logged -->
            <div id="logout_form" class="form-inline float-right hidden">
                <div class="mr-3">
                    Přihlášen jako
                    <div id="username_div" class="d-inline font-weight-bold"></div>
                </div>
                <a id="btn_logout" class="btn btn-primary mr-2">Odhlásit</a>
                <a id="btn_delete_user" class="btn btn-primary">Smazat účet</a>
            </div>
        </div>

        <div class="col-1">
            <!-- OFFSET -->
        </div>
    </div>
</header>

<!-- MAIN CONTENT -->
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-3 col-0"></div>
        <div class="col-xl-6 col-9 px-5 pt-4 bg-light">
            <!-- HEAD -->
            <div>
                <div class="text-center display-4">Travel & Share</div>
                <p class="text-muted w-100 text-center">Podělte se o své zážitky</p>
            </div>

            <!-- HOME PAGE -->
            <div id="home_page" class="pb-5">
                <p>
                    Travel & Share (T&S) je jednoduchý portál pro sdílení Vašich zážitků (nejen) z
                    cestování.
                </p>
                <p>
                    Máte hodně fotek z dovolené a hezké vzpomínky, o které byste se rádi podělili s ostatními? Pak
                    tu pro Vás mám jednoduché řešení. Travel & Share umožňuje jednoduché sdílení fotek, příběhů,
                    poznámek, vtipných historek a to vše pomocí pár kliknutí ve Vašem prohlížeči. Už si nemusíte
                    zakládat vlastní blogy a stránky, vše teď můžete mít na jednom místě.
                </p>
                <p>
                    Pokud chcete Travel & Share používat, musíte se nejříve registrovat. Po zaregistrování a
                    automatickém přihlášení do systému se dostanete na svou zeď. Tam uvidíte všechny příspěvky od
                    uživatelů, které sledujete (včetně svých vlastních příspěvků). Nový příspěvek přidáte velmi
                    jednoduše. Stačí když kliknete na tlačítko 'Vytvořit nový příspěvek' a vyplníte textová pole pro
                    název a text příspěvku. Pokud budete chtít, můžete k příspěvku nahrát i nějakou Vaši fotografii.
                    Dokonce můžete přidat i místo na mapě, ke kterému se příspěvek váže.
                </p>
                <p>
                    Všechny příspěvky na Travel & Share jsou veřejné a může je sledovat kdokoli, kdo se
                    zaregistroval. Pokud chcete někoho sledovat, musíte znát jeho uživatelské jméno. Toto jméno
                    potom zadáte do textového pole v pravé části stránky v sekci 'Sleduji'. Pak už vidíte jeho
                    příspěvky.
                </p>
            </div>

            <!-- WALL -->
            <div id="wall" class="hidden">
                <div class="mb-3 text-center">
                    <input id="btn_create_new_post" type="button" class="btn btn-primary"
                           value="Vytvořit nový příspěvek">
                </div>

                <!-- CONTAINER FOR POSTS -->
                <div id="posts_container"></div>
            </div>

            <!-- NEW POST -->
            <div id="new_post" class="hidden">
                <div class="my-4">
                    <h3>Nový příspěvek</h3>
                    <div class="form-group">
                        <label for="title">Název</label>
                        <input type="text" class="form-control" id="title">
                    </div>
                    <div class="form-group">
                        <label for="text">Text příspěvku</label>
                        <textarea class="form-control" id="text" rows="10"></textarea>
                    </div>

                    <div class="form-group">
                        <div class="custom-file">
                            <form id="image_form">
                                <input type="file" class="custom-file-input" id="image" accept="image/*">
                                <label id="file_upload_label" class="custom-file-label" for="image">
                                    Přidat obrázek
                                </label>
                            </form>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="map_switch">
                            <label class="custom-control-label" for="map_switch">Přidat místo na mapě</label>
                        </div>
                    </div>
                    <div class="form-group" id="map_container">
                        <div id="advanced-moving-marker">
                            <div id="m" class="main_map"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input id="btn_new_post_submit" type="button" class="btn btn-primary" value="Odeslat">
                        <input id="btn_back_to_wall" type="button" class="btn btn-primary" value="Zrušit">
                    </div>
                </div>
            </div>

        </div>
        <div class="col-xl-3 col-3">
            <!-- REGISTER -->
            <div id="register_form" class="m-5">
                <h3>Registrace</h3>
                <div class="form-group">
                    <label for="username_reg">Uživatelské jméno</label>
                    <input type="text" class="form-control" id="username_reg">
                    <small class="form-text text-muted">
                        Alespoň 4 znaky: písmena bez diakritiky, číslice, . a _
                    </small>
                </div>
                <div class="form-group">
                    <label for="password_reg">Heslo</label>
                    <input type="password" class="form-control" id="password_reg">
                    <small class="form-text text-muted">Alespoň 4 znaky</small>
                </div>
                <input id="btn_register" type="button" class="btn btn-primary" value="Registrovat">
            </div>

            <!-- FOLLOW LIST -->
            <div id="follow_list" class="m-3 mt-5 hidden">
                <div class="h1">
                    Sleduji
                </div>
                <div class="form-inline">
                    <input type="text" class="form-control mr-3" id="username_add_text"
                           placeholder="uživatelské jméno">
                    <a id="btn_add_follow" class="btn btn-primary">Přidat</a>
                </div>

                <!-- CONTAINER FOR FOLLOWED USERS -->
                <div id="followed_container" class="mt-3">
                </div>
            </div>
        </div>
    </div>

    <!-- CONFIRM PROMPT -->
    <div id="confirm_prompt">
        <h5 id="confirm_prompt_text">TEXT</h5>
        <div class="row mt-4">
            <div class="col-1"></div>
            <input id="btn_prompt_confirm" type="button" class="btn btn-primary col-4" value="Ano">
            <div class="col-2"></div>
            <input id="btn_prompt_storno" type="button" class="btn btn-primary col-4" value="Ne">
            <div class="col-1"></div>
        </div>
    </div>

    <!-- FOOTER -->
    <footer class="fixed-bottom text-right px-3">
        <h5><i>lhotajak - ČVUT FEL VIA 2020</i></h5>
    </footer>

    <!-- jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
            crossorigin="anonymous"></script>

    <!-- Mapy.cz-->
    <script src="https://api.mapy.cz/loader.js"></script>
    <script>Loader.load();</script>

    <!-- My script which maintains the functionality -->
    <script src="{{ url_for('static', filename = 'index.html.js') }}"></script>
</div>
</body>

</html>